 @import url('style/header.css');
 @import url('style/banner.css');
    :root{
        --cor-de-fundo: #EBECEE;
        --branco:#ffffff;
        --amarelo:#FECD2F;
        --roxo:#8a1aa0;
        --fonte-principal:"Poppins"
    }
  body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400 ;
  }      
  

